MobileLife.CurrencyRates.IntegrationTest/Service References/CurrencyRatesProxy/CurrencyRates3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/CurrencyRates?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobileLife.CurrencyRates.Api.Dto" />
  <xs:element name="GetEuroCurrencyRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobileLife.CurrencyRates.Api.Dto" minOccurs="0" name="currencyRateRequest" nillable="true" type="q1:GetCurrencyRateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEuroCurrencyRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobileLife.CurrencyRates.Api.Dto" minOccurs="0" name="GetEuroCurrencyRateResult" nillable="true" type="q2:GetCurrencyRateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListStoredCurrencyRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobileLife.CurrencyRates.Api.Dto" minOccurs="0" name="currencyRatesRequest" nillable="true" type="q3:ListStoredCurrencyRatesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListStoredCurrencyRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MobileLife.CurrencyRates.Api.Dto" minOccurs="0" name="ListStoredCurrencyRatesResult" nillable="true" type="q4:ListCurrencyRatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>